.wrapper
{
	position: relative;
	width: 800px;
	margin: 0 auto;
}

.wrapper h1
{
	font-size: 4em;
	font-family: helvetica;
	letter-spacing:-3px;
}

.wrapper p
{
	font-size: 1.2em;
	font-family: Verdana;
}

.nocanvas
{
	position: absolute;
	top: 0;
	left: 300px;
	
}

.globe
{
	background: transparent url(../../images/snow-globe.png) no-repeat 0 0;
	width: 550px;
	height: 558px;
	display: block;
	position: absolute;
	z-index: 2;
	top: 0;
	left: 228px;
	display: none;
}

.assets
{
	display:none;
}


canvas
{
	position: absolute;
	z-index: 1;
	top: 30px;
	left: 325px;
}

aside
{
	position: absolute;
    top: 20px;
    z-index: 3;
}

footer
{
	-moz-border-radius: 0 0 10px 0;
	-webkit-border-radius: 0 0 10px 0;
	-o-border-radius: 0 0 10px 0;
	border-radius: 0 0 10px 0;
    border-bottom: 1px solid #333333;
    border-right: 1px solid #333333;
    display: block;
    padding: 3px;
    width: 64px;
}

footer a
{
	color: #071DAE;
	text-decoration: none;
}

footer a:hover,
footer a:focus
{
	text-decoration: underline;
}